<h1>Admin Dashboard</h1>

<div class="panel panel-default items">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Number of Products</th>
        <th><%= @total_products %></th>
      </tr>
    </thead>
        <thead>
      <tr>
        <th>Number of Product Categories</th>
        <th><%= @total_categories.count %></th>
      </tr>
    </thead>
  </table>
  
</div>
